<nav ng-controller="NavBarController" class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home">Angular Login</a>
    </div>
    <ul class="nav navbar-nav">
        <li ng-if="!email"><a ui-sref="login">Login</a></li>
        <li ng-if="!email"><a ui-sref="register">Register</a></li>
        <li><a ui-sref="auth">Auth</a></li>
        <li ng-if="email"><a ui-sref="home">Hello, {{email}}</a></li>
        <li ng-click="logout()" ng-if="email"><a>Logout</a></li>
        
    </ul>
</nav>