<div class="jumbotron text-center">
	<h1>Register here</h1>

	<form ng-submit="formSubmit()">
		<div class="form-group">
			<label for="email">Email address</label>
			<input type="email" class="form-control" ng-model="email" placeholder="Email">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" ng-model="password" placeholder="Password">
		</div>

		<button type="submit" class="btn btn-default">Submit</button>

	</form>

</div>